---
---


$kw-green: #00562d;
$kw-cream: #fff3af;
$white: #fff;
$bg-grey: #e0e0e0;
$dark-grey: #333;


h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

a {
    color: $kw-green;
    text-decoration: none;
}

img {
    max-width: 100%;
}

h2.center {
    margin-bottom: 60px;
    font-size: 27px;

    &:before,
    &:after {
        border-top: 2px solid rgba(0, 0, 0, 0.05);
        content: "";
        display: inline-block;
        height: .1em;
        position: relative;
        vertical-align: middle;
        width: 25%;
        margin-bottom: 5px;
    }
    &:before {
        right: 30px;
        margin-left: -50%;
    }
    &:after {
        left: 30px;
        margin-right: -50%;
    }
}

h2.center.w-intro {
    margin-bottom: 0;
}

p.cta {
    margin-top: 40px;
}

.image-subtitle {
    display: block;
    text-align: center;
    margin: 5px 0 0 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Liberation Sans", Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    font-size: 16px;
}

.center {
    text-align: center;
}

.button {
    background-color: $white;
    color: $kw-green;
    padding: 9px 20px;
    text-decoration: none;
    line-height: 1.2;
    display: inline-block;
    border-radius: 3px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;
    border: 0;
}

.button.small {
    padding: 7px 12px;
    font-size: 16px;
}

.button.primary {
    background-color: $kw-green;
    color: $white;
}

.sub-button {
    display: block;
    margin-top: 15px;
}

.grey-bg {
    background-color: $bg-grey;
}

.light-grey-bg {
    background-color: lighten($bg-grey, 10%);
    border-top: 1px solid lighten($bg-grey, 5%);
    border-bottom: 1px solid lighten($bg-grey, 5%);
}

.green-bg {
    background-color: $kw-green;
    color: $white;

    a {
        color: $white;
        text-decoration: underline;
    }

    a.button {
        color: $kw-green;
        text-decoration: none;
    }
}

.section {
    margin: 0;
    padding: 50px 0;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.wide-container {
    padding: 0 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.row {
    margin-left: -40px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.margin-top {
    margin-top: 40px;
}

[class*='col-'] {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*='col-'] {
  padding-left: 40px;
}

.col-1-3 {
    width: 33.33%;
}

.col-2-3 {
    width: 66.66%;
}

.col-1-2 {
    width: 50%;
}

.col-1-4 {
    width: 25%;
}

.col-3-4 {
    width: 75%;
}


header {
    background-color: $kw-green;
}

.site-header {
    color: $white;
    padding: 15px 0;

    a {
        color: $white;
    }

    .site-title {
        float: left;
    }

    .right {
        float: right;

        .top-menu {
            float: right;
            margin: 5px 0;
            font-size: 15px;


            a {
                text-decoration: none;
                margin-left: 10px;
            }
        }

        .under-menu {
            clear: both;

            #phone {
                color: $kw-cream;
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                display: inline-block;
                text-align: right;
                float: right;
                font-size: 28px;
            }

            .search-button {
                width: 35px;
                height: 35px;
                display: block;
                float: right;
                text-align: right;
                background-color: darken($kw-green, 1.5%);
                border-radius: 50%;
                position: relative;
                top: 2px;
                margin-right: 8px;
                border: 1px solid rgba(255, 255, 255, 0.05);

                i {
                    float: none;
                    position: absolute;
                    top: 9px;
                    left: 9px;
                    font-size: 18px;
                }
            }

            .search-input {
                float: right;
                width: 150px;
                border-radius: 3px;
                border: 0;
                padding: 4px;
                margin: 8px 6px 0 0;
                color: #555;
                font-size: 14px;
            }
        }
    }
}

.site-header:after {
  content: "";
  display: table;
  clear: both;
}

.banner {
    margin: 0;
    padding: 0;
    background: #1e5232 url('../img/banner-bg.jpg') no-repeat top center fixed;
    color: $white;

    .site-nav {
        background-color: darken($kw-green, 5%);

        ul, li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: inline;
        }

        ul ul {
            display: none;
        }

        ul a {
            color: $white;
            text-decoration: none;
            display: inline-block;
            padding: 15px 10px;
            font-size: 17px;

            &:hover {
                background-color: darken($kw-green, 2%);
            }
        }

        .quote-link {
            border: 2px solid $kw-cream;
            color: $kw-cream;
            background-color: transparent;
            float: right;
            padding: 5px 12px;
            margin-top: 8px;
            border-radius: 2px;
        }
    }

    .banner-content {
        padding: 50px 0 35px 0;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);

        h1 {
            font-size: 50px;
            line-height: 1.1;
            margin: 0 0 10px 0;
        }

        p {
            margin: 0;
        }

        p.subtitle {
            font-size: 20px;
            margin: 0 0 20px 0;
            font-weight: 600;
            display: inline-block;
            text-transform: uppercase;
        }

        p.about {
            margin-bottom: 20px;
            font-size: 18px;
        }

        .button {
            font-size: 22px;
            padding: 12px 20px;
            margin: 0 0 20px 0;
            border: 2px solid $white;
            color: $white;
            background-color: transparent;
        }
    }
}

.logos {
    margin: 0;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid darken($bg-grey, 5%);
    display: table;
    width: 100%;

    img {
        display: table-cell;
        vertical-align: middle;
        padding: 0 25px;
        border-right: 1px dotted darken($bg-grey, 10%);
    }

    .last {
        border: 0;
    }
}


.homepage-logos {
    margin-top: 30px;
    width: 100%;
    display: table;

    img {
        display: table-cell;
        vertical-align: middle;
        margin-right: 20px;
        padding: 10px;
    }
}

.site-footer {
    background-color: $kw-green;
    border-top: 5px solid darken($kw-green, 5%);
    color: $white;
    margin: 0;
    padding: 30px 0;
    font-size: 14px;

    h3 {
        color: $kw-cream;
    }

    a {
        color: $white;
        text-decoration: underline;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            margin: 0;

            a {
                font-size: 14px;
                text-decoration: none;
            }
        }
    }

    .social-icon {
        display: inline-block;
        padding: 12px;
        border-radius: 50%;
        background-color: darken($kw-green, 5%);
        font-size: 25px;
        width: 25px;
        height: 25px;
        line-height: 1;
        text-align: center;
        margin: 20px 2px 0 0;
    }
}

.sub-footer,
.art-footer {
    background-color: darken($kw-green, 5%);
    color: $white;
    padding: 10px;
    font-size: 12px;

    a {
        color: $white;
        display: inline-block;
        margin-right: 15px;
    }
}

.art-footer {
    background-color: $kw-green;
    border-top: 5px solid darken($kw-green, 5%);
}


.quote-panel {
    display: none;
    position: absolute;
    top: -300px;
    left: 0;
    height: 300px;
    width: 100%;

    .quote-tab {
        font-style: italic;
        background-color: $dark-grey;
        color: #fff;
        padding: 7px 15px;
        position: absolute;
        bottom: -50px;
        right: 10%;
    }

    .quote-form {
        background-color: $dark-grey;
        width: 100%;
        color: $white;
        height: 300px;
    }
}

.faqs{
    margin-bottom: 40px;

    .ui-icon-down:before,
    .ui-icon-up:before {
        font-family: 'FontAwesome';
        margin-right: 10px;
    }

    .ui-icon-down:before {
        content: '\f107';
    }

    .ui-icon-up:before {
        content: '\f106';
    }

    strong.q {
        display: block;
        padding: 10px 0;
        cursor: pointer;
        border-bottom: 1px solid $bg-grey;
        outline: 0;

        &:hover {
            background-color: lighten($bg-grey, 7%);
        }
    }

    div {
        padding-bottom: 20px;
    }
}


.tabs {
    zoom: 1;
    margin: 30px 0 15px 0;

    .ui-tabs-nav {
        list-style: none;
        position: relative;
        padding: 0;
        margin: 0;

        li {
            position: relative;
            float: left;
            margin: 0 3px -2px 0;
            padding: 0;

            a {
                display: block;
                padding: 10px 20px;
                background: #f0f0f0;
                border: 1px #ccc solid;
                border-bottom: none;
                color: $dark-grey;
                outline: none;
            }
        }

        li.ui-state-active a {
            padding: 10px 20px 12px 20px;
            background: #fff;
            position: relative;
            top: -1px;
        }

        li.ui-state-active a,
        li.ui-state-disabled a,
        li.ui-state-processing a {
            cursor: default;
        }
    }

    .ui-tabs-panel {
        display: block;
        clear: both;
        border: 1px solid $bg-grey;
        padding: 10px 20px;
        background-color: $white;
    }

    .ui-tabs-hide {
        display: none;
    }
}

.green-bg .tabs {
    ul li a {
        background-color: darken($kw-green, 2%);
        border-color: rgba(255, 255, 255, .1);
        color: #fff;
        text-decoration: none;
    }

    ul li.ui-state-active a {
        background-color: $kw-green;
    }

    .ui-tabs-panel {
        border-color: rgba(255, 255, 255, .1);
        background-color: transparent;
    }
}


ul.check {

    li {
        padding: 5px 0;
        list-style-type: none;
    }

    li:before {
        font-family: 'FontAwesome';
        content: '\f00c';
        margin:0 7px 0 -15px;
    }
}


.intro {
    max-width: 900px;
    margin: 30px auto 0 auto;
    text-align: center;
}


table {
    margin: 30px 0;
    border: 1px solid #cbcbcb;

    thead {
        font-weight: bold;
        border-bottom: 1px solid $bg-grey;

        th {
            text-align: left;
            background-color: lighten($bg-grey, 7%);
        }
    }

    th, td {
        border-left: 1px solid #cbcbcb;/*  inner column border */
        border-width: 0 0 0 1px;
        font-size: inherit;
        margin: 0;
        overflow: visible; /*to make ths where the title is really long work*/
        padding: 7px 20px; /* cell padding */
    }
}


.green-bg table,
.green-bg table thead,
.green-bg table th,
.green-bg table td {
    border-color: rgba(255, 255, 255, 0.2);
}

.green-bg table thead th {
    background-color: rgba(255, 255, 255, 0.1);
}

table.no-lines {
    border-color: transparent;

    thead,
    th,
    td {
        border-color: transparent;
    }

    td {
        padding: 7px 70px 7px 0;
    }
}


blockquote {
    border-left: 2px solid $bg-grey;
    padding-left: 30px;
    margin: 40px 0 60px 40px;
    font-style: italic;
}


ul.split-col-1-2 {
    width: 50%;
    float: left;
}

.clearfix {
    clear: both;
}


table.insurance-comparison,
table.insurance-comparison thead,
table.insurance-comparison th,
table.insurance-comparison td {
    border: none;
    background-color: transparent;
}

.insurance-comparison {
    margin-bottom: 60px;

    thead {
        th.policy-1,
        th.policy-2 {
            width: 33%;
            padding: 20px;
            font-weight: normal;
            text-align: center;

            h4 {
                margin: 0 0 15px 0;
                font-size: 20px;
            }
        }

        th.policy-1 {
            background-color: $kw-green;
            color: $white;
            border-radius: 3px 0 0 0;
        }

        th.policy-2 {
            background-color: lighten($kw-green, 10%);
            color: $white;
            border-radius: 0 3px 0 0;
        }
    }

    tbody {
        background-color: $white;
        border: 1px solid #ececec;

        td {
            border: 1px solid #ececec;
            border-right: 1px solid #b4d0c4;
            text-align: right;
            font-weight: bold;
            color: #555;
        }

        td.policy-1,
        td.policy-2 {
            font-weight: normal;
            text-align: center;
            border: 1px solid #b4d0c4;
        }

        td.policy-1 {
            background-color: #effaf5;
            color: darken($kw-green, 5%);
        }

        td.policy-2 {
            background-color: #f5fdfa;
            border: 1px solid #b4d0c4;
            color: $kw-green;
        }
    }
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 30px 0;
}


.stat {
    text-align: center;
    background-color: rgba(255,255,255,.05);
    border: 1px solid rgba(255,255,255,.1);
    padding: 30px 0;

    span {
        max-width: 180px;
        margin: 0 auto;
        display: block;
        font-size: 18px;
        max-width: 150px;
    }

    .six-thousand,
    .two-hundred,
    .eighty,
    .twenty-six {
        font-size: 60px;
        font-weight: bold;
        font-family: 'Roboto';
    }
}


.bio-photo {
    width: 37%;
    float: left;
    padding-top: 18px;
}


h3.role {
    margin-bottom: 0;
}

p.role {
    font-style: italic;
    margin-top: 5px;
}

.bio-text {
    width: 60%;
    float: right;
}


aside.col-1-4 {
    margin-bottom: 20px;

    h4 {
        margin: 30px 0 15px 50px;
    }

    ul {
        margin: 0;
        padding: 0 0 0 50px;
        list-style-type: none;

        li {
            margin: 0;
            padding: 0;
            display: block;
            padding: 7px 0;
            border-bottom: 1px dotted $bg-grey;
            color: #222;
        }
    }
}


.art-newsletter {

    h2 {
        margin-bottom: 0;
    }

    p.news-subtitle {
        font-size: 20px;
/*
        font-style: italic;
*/
        margin: 5px 0 30px 0;
        font-weight: 400;
    }

    .news-input {
        border: 1px solid $bg-grey;
        padding: 6px 5px;
        margin: 0 5px 30px 0;
        font-size: 19px;
        min-width: 300px;
    }
}


.about-image {
    margin-bottom: 30px;
}

.guarantee-conditions {
    margin-top: 50px;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}


.interstate-process {
    padding: 30px 0;

    img {
        margin-bottom: 10px;
    }
}


.process {
    padding: 30px 0;
    display: table;
    width: 100%;

    div {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }
}


.right {
    text-align: right;
}
