<header class="site-header">

    <div class="site-links">
        <div class="wrapper">
            <a href="/">International &amp; Interstate Moves</a>
            <a href="" class="todo">Excess Baggage</a>
            <a href="/art/" class="active">Art Transport &amp; Storage</a>
        </div>
    </div>

    <div class="wrapper">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <div class="top-menu">
            <a href="/art/about-us/">About Us</a>
            <a href="#" class="todo">Client Login</a>
        </div>
    </div>

    <nav class="site-nav">
      <div class="wrapper">
        <ul>
            <li><a href="/art/">Home</a></li>
            <li><a href="/art/local-art-transport/">Local Art Transport</a></li>
            <li><a href="/art/interstate-art-transport/">Interstate Art Transport</a></li>
            <li><a href="/art/international-art-transport/">International Art Transport</a></li>
            <li><a href="/art/art-storage/">Art Storage</a></li>
            <li><a href="/art/insurance/" class="todo">Insurance</a></li>
            <li><a href="/art/faqs/" class="todo">FAQs</a></li>
            <li><a href="/art/contact-us/" class="todo">Contact Us</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
