<nav class="site-nav">
    <div class="container">
        <ul>
            <li><a href="/art/"><i class="fa fa-home"></i></a></li>
            <li><a href="/art/local-art-transport/">Local Art Transport</a></li>
            <li><a href="/art/interstate-art-transport/">Interstate Art Transport</a></li>
            <li><a href="/art/international-art-transport/">International Art Transport</a></li>
            <li><a href="/art/art-storage/">Art Storage</a></li>
            <li><a href="/art/insurance/">Insurance</a></li>
            <li><a href="/art/exhibitions/">Exhibition &amp; Fair Services</a></li>
            <li><a href="/art/contact-us/">Contact Us</a></li>
        </ul>
    </div>
</nav>
