<header>
    <div class="site-header container">
        <a class="site-title" href="{{ site.baseurl }}/art/">
            <img src="/img/kw-art-logo.png" alt="King &amp; Wilson Essential Art Services Logo" title="King &amp; Wilson Essential Art Services" />
        </a>
        <div class="right">
            <div class="top-menu">
                <a href="/art/about-us/">About Us</a>
            </div>
            <div class="under-menu">
                <a href="tel:1300-365-804" id="phone">1300 365 804</a>
                <a href="#" class="search-button"><i class="fa fa-search"></i></a>
                <input type="text" name="search" class="search-input" placeholder="Search"/>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</header>
