<footer class="site-footer">
  <div class="wrapper">
    <ul>
        <li>Social media links / twitter feed content</li>
        <li>Legal Links</li>
        <li>Secondary Site Links</li>
    </ul>

    <h3>Proudly FIDI/FAIM Certified</h3>
    <p><strong>Independently Audited for Excellence</strong></p>
    <p>We are amongst a select group of removalist companies to hold <a href="">FAIM</a> quality assurance, awarded by <a href="">FIDI</a>, the most prestigious moving association in the world.</p>
    <p>Our FAIM membership is independendly audited every three years by Ernst &amp; Young and provides our customers with the peace of mind they are receiving the best quality service available.</p>
  </div>
</footer>
