<footer class="site-footer">
  <div class="wrapper">
    <h3>Popular international destinations</h3>
    <ul>
        <li><a href="/shipping-to-uk/">United Kingdom</a></li>
        <li><a href="/shipping-to-new-zealand/">New Zealand</a></li>
        <li><a href="/shipping-to-europe/">Europe</a></li>
        <li><a href="/shipping-to-usa-canada/">USA and Canada</a></li>
        <li><a href="/shipping-to-singapore/">Singapore</a></li>
        <li><a href="/shipping-to-hong-kong/">Hong Kong</a></li>
        <li><a href="/shipping-to-middle-east/">Middle East / Dubai</a></li>
        <li><a href="/shipping-to-south-africa/">South Africa</a></li>
        <li><a href="/shipping-to-australia/">Shipping to Australia</a></li>
    </ul>

    <h3>Excess Baggage Locations</h3>
    <ul class="">
        <li><a href="/sydney-excess-baggage/">Excess Baggage Sydney</a></li>
        <li><a href="/melbourne-excess-baggage/">Excess Baggage Melbourne</a></li>
        <li><a href="/brisbane-excess-baggage/">Excess Baggage Brisbane</a></li>
    </ul>


    <ul>
        <li>Social media links / twitter feed content</li>
        <li>Legal Links</li>
    </ul>

    <h3>Proudly FIDI/FAIM certified</h3>
    <p><strong>Independently audited for excellence</strong></p>
    <p>We are amongst a select group of removalist companies to hold <a href="https://www.fidi.org/quality/fidi-faim-certification/" target="_blank">FAIM quality assurance</a>, awarded by <a href="http://www.fidi.org/" target="_blank">FIDI</a>, the most prestigious moving association in the world.</p>
    <p>Our FAIM membership is independently audited every three years by Ernst &amp; Young and provides our customers with the peace of mind they are receiving the best quality service available.</p>
  </div>
</footer>
