<footer>
    <div class="site-footer">
        <div class="container">
            <div class="third">
                <h3>Proudly FIDI/FAIM certified</h3>
                <strong class="q">Independently audited for excellence</strong>
                <p>We are amongst a select group of removalist companies to hold <a href="https://www.fidi.org/quality/fidi-faim-certification/" target="_blank">FAIM quality assurance</a>, awarded by <a href="http://www.fidi.org/" target="_blank">FIDI</a>, the most prestigious moving association in the world.</p>
                <p>Our FAIM accreditation is independently audited every three years by Ernst &amp; Young and benchmarked by the FAIM Coordination Centre in Brussels. This provides our customers with the peace of mind they are receiving the highest quality consistent moving standards right across the world.</p>
            </div>

            <div class="third">
                <h3>Popular international destinations</h3>
                <ul>
                    <li><a href="/shipping-to-uk/">United Kingdom</a></li>
                    <li><a href="/shipping-to-new-zealand/">New Zealand</a></li>
                    <li><a href="/shipping-to-europe/">Europe</a></li>
                    <li><a href="/shipping-to-usa-canada/">USA and Canada</a></li>
                    <li><a href="/shipping-to-singapore/">Singapore</a></li>
                    <li><a href="/shipping-to-hong-kong/">Hong Kong</a></li>
                    <li><a href="/shipping-to-middle-east/">Middle East / Dubai</a></li>
                    <li><a href="/shipping-to-south-africa/">South Africa</a></li>
                    <li><a href="/shipping-to-australia/">Shipping to Australia</a></li>
                </ul>

                <h3>Excess baggage locations</h3>
                <ul class="">
                    <li><a href="/sydney-excess-baggage/">Excess Baggage Sydney</a></li>
                    <li><a href="/melbourne-excess-baggage/">Excess Baggage Melbourne</a></li>
                    <li><a href="/brisbane-excess-baggage/">Excess Baggage Brisbane</a></li>
                </ul>
            </div>

            <div class="third">
                <ul>
                    <li>Social media links / twitter feed content</li>
                    <li>Legal Links</li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <a href="">Disclaimer</a>
            <a href="">Privacy Policy</a>
            <a href="">Sitemap</a>
        </div>
    </div>
</footer>
