<header>
    <div class="site-header">
        <div class="wide-container">
            <a class="site-title" href="{{ site.baseurl }}/">
                <img src="/img/kw-logo.png" alt="King &amp; Wilson Logo" title="King &amp; Wilson" />
            </a>
            <div class="right">
                <div class="top-menu">
                    <a href="/corporate-relocation/">Corporate Relocation</a>
                    <a href="/about-us/">About Us</a>
                    <a href="#" class="todo">Trade Login</a>
                    <a href="#" class="todo">Client Login</a>
                </div>
                <div class="under-menu">
                    {% if page.quote == 'baggage' %}

                        <a href="tel:1300-335-032" id="phone">1300 335 032</a>
                    {% else %}
                        <a href="tel:1300-368-893" id="phone">1300 368 893</a>
                    {% endif %}
                    <span class="search">
                        <a href="#" class="search-button"><i class="fa fa-search"></i></a>
                        <input type="text" name="search" class="search-input" placeholder="Search"/>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
