<header>
    <div class="site-header container">
        <a class="site-title" href="{{ site.baseurl }}/">
            <img src="/img/kw-logo.png" alt="King &amp; Wilson Logo" title="King &amp; Wilson" />
        </a>
        <div class="right">
            <div class="top-menu">
                <a href="/corporate-relocation/">Corporate Relocation</a>
                <a href="/about-us/">About Us</a>
                <a href="#" class="todo">Trade Login</a>
                <a href="#" class="todo">Client Login</a>
            </div>
            <div class="under-menu">
                <a href="tel:1300-368-893" id="phone">1300 368 893</a>
                <a href="#" class="search-button"><i class="fa fa-search"></i></a>
                <input type="text" name="search" class="search-input" placeholder="Search"/>
            </div>
        </div>
    </div>
</header>
