<div class="grey-bg">
    <div class="logos">
        <img src="/img/aima.png" alt="Australian International Movers Association" title="Australian International Movers Association" />
        <img src="/img/afra.png" alt="Australian Furniture Removers Association" title="Australian Furniture Removers Association" />
        <img src="/img/faim.png" alt="FIDI Accredited International Mover" title="FIDI Accredited International Mover" />
        <img src="/img/hhgfaa.png" alt="Household Goods Forwarder's Association of America" title="Household Goods Forwarder's Association of America" />
        <img src="/img/fidi.png" alt="Federation of International Furniture Removers" title="Federation of International Furniture Removers" />
        <img src="/img/bar.png" alt="British Association of Removers" title="British Association of Removers" class="last"/>
    </div>
</div>
