<div class="grey-bg">
    <div class="logos">
        <img src="/img/industry-logos/aima.png" alt="Australian International Movers Association" title="Australian International Movers Association" />
        <img src="/img/industry-logos/afra.png" alt="Australian Furniture Removers Association" title="Australian Furniture Removers Association" />
        <img src="/img/industry-logos/faim.png" alt="FIDI Accredited International Mover" title="FIDI Accredited International Mover" />
        <img src="/img/industry-logos/iam.png" alt="International Association of Movers" />
        <img src="/img/industry-logos/fidi.png" alt="Federation of International Furniture Removers" title="Federation of International Furniture Removers" />
        <img src="/img/industry-logos/bar.png" alt="British Association of Removers" title="British Association of Removers"  />
    </div>
</div>
