<div class="quote-panel">
    <div class="quote">
        <h2>Quick Quote</h2>
        <p class="intro">All quotes delivered within 12 business hours.</p>
        <p class="intro">Need a quote faster?  Call us on 1300 368 893</p>
        <a href="#" class="close-quote"><i class="fa fa-times"></i></a>

        <form class="quote-form">
            <fieldset class="move-details">
                <legend>How much are you moving?</legend>
                <select id="move-type">
                    <option disabled selected>- Select move quantity -</option>
                    <option value="whole">A whole home (personal effects including some/all furniture)</option>
                    <option value="small">A small move (a few bags and boxes, no furniture)</option>
                </select>

                <div class="small-move move-type">
                    instant quote form here
                </div>

                <div class="whole-home move-type">
                    <select>
                        <option>1 bedroom</option>
                        <option>2 bedroom</option>
                        <option>3 bedroom</option>
                        <option>4 bedroom</option>
                        <option>5 bedroom</option>
                        <option>6 bedroom</option>
                    </select>

                    <select>
                        <option>House</option>
                        <option>Apartment</option>
                    </select>
                </div>
                <legend>Where?</legend>
                <select id="move-location">
                    <option disabled selected>- Select move type -</option>
                    <option value="international">Overseas</option>
                    <option value="local">Within Australia (Local or Interstate)</option>
                </select>

                <div class="move-location local">
                    <label class="margin-right">From</label>
                    <input type="text" name="" value="" id="" placeholder="Suburb or Postcode"/>

                    <label class="margin-left margin-right">To</label>
                    <input type="text" name="" value="" id="" placeholder="Suburb or Postcode"/>
                </div>

                <div class="move-location international">
                    <div>
                        <label class="margin-right">From</label>

                        <select id="from-country">
                            <option value="australia">Australia</option>
                            <option value="nz">New Zealand</option>
                        </select>

                        <div class="from australia">
                            <input type="text" name="" value="" id="" placeholder="Suburb or Postcode"/>
                        </div>

                        <div class="from nz">
                            <select>
                                <option>Type Location...</option>
                                <option>Wellington</option>
                                <option>Auckland</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <label class="margin-right">To</label>

                        <select id="to-country">
                            <option value="uk">UK</option>
                            <option value="nz">New Zealand</option>
                        </select>

                        <div class="to uk">
                            <select>
                                <option>Type Location...</option>
                                <option>London</option>
                                <option>Edinburgh</option>
                            </select>
                        </div>

                        <div class="to nz">
                            <select>
                                <option>Type Location...</option>
                                <option>Wellington</option>
                                <option>Auckland</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="customer-details">
                <legend>When?</legend>
                <select>
                    <option disabled selected>- Select estimated move date -</option>
                    <option>May 2015</option>
                    <option>June 2015</option>
                    <option>July 2015</option>
                    <option>August 2015</option>
                    <option>September 2015</option>
                </select>
                <legend>About You</legend>
                <label>Name</label>
                <input type="text" name="" value="" id="" />

                <label for="">Email</label>
                <input type="email" name="" value="" id="" />

                <label for="">Phone</label>
                <input type="text" name="" value="" id="" />

                <div class="">
                    <label>
                        <input type="checkbox" name="" value="" /> I require storage
                    </label>

                    <label>
                        <input type="checkbox" name="" value="" /> I have a voucher code
                    </label>
                </div>
            </fieldset>

            <div class="clearfix"></div>

            <input class="button" type="submit" value="Get Quote">
        </form>
    </div>
</div>
