<div class="section">
    <div class="container">
        <div class="row testimonials">
            <div class="col-1-2">
                <div class="testimonial">
                    <img src="http://www.placehold.it/100x100" alt="" title="" />
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem lectus, ullamcorper vel urna sit amet, ornare feugiat neque. Vestibulum sodales risus nec metus condimentum mollis.</p>
                        <cite>Name Here</cite>
                    </div>
                </div>
            </div>
            <div class="col-1-2">
                <div class="testimonial">
                    <img src="http://www.placehold.it/100x100" alt="" title="" />
                    <div class="content">
                        <p>Suspendisse sem urna, mattis fringilla varius at, tempor eu est. Nam iaculis odio a lorem fringilla, ac dapibus est vestibulum.</p>
                        <p>Fringilla sit amet purus.</p>
                        <cite>Name Here</cite>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
