<nav class="site-nav">
    <div class="header-container">
        <ul>
            <li><a href="/"><i class="fa fa-home"></i></a>
            <li><a href="/international-removals/">International Removals</a>
                <ul>
                    <li><a href="/international-sea-freight/">Sea Freight</a>
                        <ul>
                            <li><a href="/shipping-to-uk/">United Kingdom</a></li>
                            <li><a href="/shipping-to-new-zealand/">New Zealand</a></li>
                            <li><a href="/shipping-to-europe/">Europe</a></li>
                            <li><a href="/shipping-to-usa-canada/">USA &amp; Canada</a></li>
                            <li><a href="/shipping-to-singapore/">Singapore</a></li>
                            <li><a href="/shipping-to-hong-kong/">Hong Kong</a></li>
                        </ul>
                    </li>
                    <li><a href="/international-air-freight/">Air Freight</a></li>
                    <li><a href="/excess-baggage">Small Shipments / Excess Baggage</a></li>
                    <li><a href="/on-time/">On Time Guarantee</a></li>
                </ul>
            </li>
            <li><a href="/interstate-removals/">Local &amp; Interstate Removals</a>
                <ul>
                    <li><a href="/melbourne-removalists/">Melbourne / Regional Victoria</a></li>
                    <li><a href="/sydney-removalists/">Sydney / Regional NSW</a></li>
                    <li><a href="/canberra-removalists/">Canberra / ACT</a></li>
                </ul>
            </li>
            <li><a href="/storage/">Storage</a>
                <ul>
                    <li><a href="/international-storage/">International Storage</a></li>
                    <li><a href="/furniture-storage-melbourne/">Melbourne Storage</a></li>
                    <li><a href="/furniture-storage-sydney/">Sydney Storage</a></li>
                    <li><a href="/furniture-storage-canberra/">Canberra/ACT Storage</a></li>
                </ul>
            </li>
            <li><a href="/shipping-cars-motorbikes/">Moving Vehicles</a></li>
            <li><a href="/moving-pets/">Moving Pets</a></li>
            <li><a href="/moving-art/">Moving Art</a></li>
            <li><a href="/insurance/">Insurance</a></li>
            <li><a href="/faq/">FAQs</a></li>
            <li><a href="/contact-us/">Contact Us</a></li>
        </ul>
    </div>
</nav>
