<div class="nav">
    <nav class="desktop-nav">
        <div class="nav-container">
            <div class="wide-container">
                <a href="/"><i class="fa fa-home"></i></a>
                <div class="dropdown-trigger">
                    <a href="/international-removals/">International Removals <i class="fa fa-angle-down"></i></a>
                    <div class="dropdown multi">
                        <div class="wide-container row">
                            <div class="side">
                                <a href="/international-sea-freight/">Sea Freight</a>
                                <a href="/international-air-freight/">Air Freight</a>
                                <a href="/excess-baggage">Small Shipments<span class="hide-on-menu"> / Excess Baggage</span></a>
                                <a href="/on-time/">On Time Guarantee</a>
                            </div>
                            <div class="sea">
                                <div class="countries">
                                    <a href="/shipping-to-uk/" class="img-link first">
                                        <img src="/img/nav-img/uk.jpg" alt="United Kingdom" />
                                        <span class="img-subtitle">United Kingdom</span>
                                    </a>
                                    <a href="/shipping-to-new-zealand/" class="img-link">
                                        <img src="/img/nav-img/nz.jpg" alt="New Zealand" />
                                        <span class="img-subtitle">New Zealand</span>
                                    </a>
                                    <a href="/shipping-to-europe/" class="img-link">
                                        <img src="/img/nav-img/europe.jpg" alt="Europe" />
                                        <span class="img-subtitle">Europe</span>
                                    </a>
                                    <a href="/shipping-to-usa-canada/" class="img-link">
                                        <img src="/img/nav-img/north-america.jpg" alt="North America" />
                                        <span class="img-subtitle">North America</span>
                                    </a>
                                    <a href="/shipping-to-singapore/" class="img-link">
                                        <img src="/img/nav-img/singapore.jpg" alt="Singapore" />
                                        <span class="img-subtitle">Singapore</span>
                                    </a>
                                    <a href="/shipping-to-hong-kong/" class="img-link">
                                        <img src="/img/nav-img/hong-kong.jpg" alt="Hong Kong" />
                                        <span class="img-subtitle">Hong Kong</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-trigger">
                    <a href="/interstate-removals/"><span class="hide-on-menu">Local &amp; </span>Interstate Removals <i class="fa fa-angle-down"></i></a>
                    <div class="dropdown">
                        <div class="wide-container">
                            <a href="/melbourne-removalists/" class="img-link">
                                <img src="/img/nav-img/melbourne.jpg" alt="Federation Square" />
                                <span class="img-subtitle">Melbourne / Regional Victoria</span>
                            </a>
                            <a href="/sydney-removalists/" class="img-link">
                                <img src="/img/nav-img/sydney.jpg" alt="Sydney" />
                                <span class="img-subtitle">Sydney / Regional NSW</span>
                            </a>
                            <a href="/canberra-removalists/" class="img-link">
                                <img src="/img/nav-img/canberra.jpg" alt="Canberra" />
                                <span class="img-subtitle">Canberra / ACT</span>
                            </a>
                            <a href="/perth-removalists/" class="img-link">
                                <img src="/img/nav-img/perth.jpg" alt="Perth" />
                                <span class="img-subtitle">Perth / Western Australia</span>
                            </a>
                            <a href="/brisbane-removalists/" class="img-link">
                                <img src="/img/nav-img/brisbane.jpg" alt="Brisbane" />
                                <span class="img-subtitle">Brisbane / Queensland</span>
                            </a>
                            <a href="/adelaide-removalists/" class="img-link">
                                <img src="/img/nav-img/adelaide.jpg" alt="Adelaide" />
                                <span class="img-subtitle">Adelaide / South Australia</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="dropdown-trigger">
                    <a href="/storage/">Storage <i class="fa fa-angle-down"></i></a>
                    <div class="dropdown">
                        <div class="wide-container">
                            <a href="/international-storage/" class="img-link">
                                <img src="/img/nav-img/international-storage.jpg" alt="International Storage Facility" />
                                <span class="img-subtitle">International Storage</span>
                            </a>
                            <a href="/furniture-storage-melbourne/" class="img-link">
                                <img src="/img/nav-img/melbourne-storage.jpg" alt="Melbourne Storage Facility" />
                                <span class="img-subtitle">Melbourne Storage</span>
                            </a>
                            <a href="/furniture-storage-sydney/" class="img-link">
                                <img src="/img/nav-img/sydney-storage.jpg" alt="Sydney Storage Facility" />
                                <span class="img-subtitle">Sydney Storage</span>
                            </a>
                            <a href="/furniture-storage-canberra/" class="img-link">
                                <img src="/img/nav-img/canberra-storage.jpg" alt="Canberra Storage Facility" />
                                <span class="img-subtitle">Canberra/ACT Storage</span>
                            </a>
                        </div>
                    </div>
                </div>
                <a href="/shipping-cars-motorbikes/"><span class="hide-on-menu">Moving </span>Vehicles</a>
                <a href="/moving-pets/"><span class="hide-on-menu">Moving </span>Pets</a>
                <a href="/moving-art/"><span class="hide-on-menu">Moving </span>Art</a>
                <a href="/insurance/">Insurance</a>
                <a href="/faq/">FAQs</a>
                <a href="/contact-us/">Contact<span class="hide-on-menu"> Us</span></a>
                <a class="quote-link get-quote" href="#">Quick Quote</a>
            </div>
        </div>
    </nav>

    <nav class="mobile-nav">
        <div class="wide-container row">
            <a class="trigger-menu" href="#"><i class="fa fa-bars"></i></a>
            <a href="#" class="search-button trigger"><i class="fa fa-search"></i></a>
            <a href="tel:1300-368-893" class="phone"><i class="fa fa-phone"></i></a>
            <a class="quote-link get-quote" href="#"><span>Quick </span>Quote</a>
        </div>
    </nav>

    <div class="search-panel">
        <div class="container">
            <input type="text" name="search" class="search-input" placeholder="Press enter to search"/>
        </div>
    </div>

    <div class="dropdown-nav">
        <div class="container">
            <a href="/" class="home">Home</a>

            <h3><a href="/international-removals/">International Removals</a></h3>
            <nav>
                <a href="/international-sea-freight/">Sea Freight</a>
                <a href="/international-air-freight/">Air Freight</a>
                <a href="/excess-baggage">Small Shipments</a>
                <a href="/on-time/">On Time Guarantee</a>
            </nav>

            <h3>Popular Destinations</h3>
            <nav>
                <a href="/shipping-to-uk/">UK</a>
                <a href="/shipping-to-new-zealand/">New Zealand</a>
                <a href="/shipping-to-europe/">Europe</a>
                <a href="/shipping-to-usa-canada/">North America</a>
                <a href="/shipping-to-singapore/">Singapore</a>
                <a href="/shipping-to-hong-kong/" class="img-link last">Hong Kong</a>
            </nav>

            <h3><a href="/interstate-removals/">Local &amp; Interstate Removals</a></h3>
            <nav>
                <a href="/melbourne-removalists/">Melbourne</a>
                <a href="/sydney-removalists/">Sydney</a>
                <a href="/canberra-removalists/">Canberra</a>
            </nav>

            <h3><a href="/storage/">Storage</a></h3>
            <nav>
                <a href="/international-storage/">International</a>
                <a href="/furniture-storage-melbourne/">Melbourne</a>
                <a href="/furniture-storage-sydney/">Sydney</a>
                <a href="/furniture-storage-canberra/">Canberra/ACT</a>
            </nav>

            <h3>Additional Services</h3>
            <nav>
                <a href="/shipping-cars-motorbikes/">Moving Vehicles</a>
                <a href="/moving-pets/">Moving Pets</a>
                <a href="/moving-art/">Moving Art</a>
                <a href="/insurance/">Insurance</a>
            </nav>

            <h3>Help</h3>
            <nav class="last">
                <a href="/faq/">FAQs</a>
                <a href="/corporate-relocation/">Corporate Relocation</a>
                <a href="/about-us/">About Us</a>
                <a href="#" class="todo">Trade Login</a>
                <a href="#" class="todo">Client Login</a>
                <a href="/contact-us/">Contact Us</a>
            </nav>
        </div>
    </div>
</div>
