<div class="nav">
    <nav class="desktop-nav">
        <div class="nav-container">
            <div class="wide-container">
                <ul>
                    <li><a href="/"><i class="fa fa-home"></i></a>
                    <li class="dropdown-trigger">
                        <a href="/international-removals/">International Removals <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown multi">
                            <span class="wide-container">
                                <span class="side">
                                    <li><a href="/international-sea-freight/">Sea Freight</a></li>
                                    <li><a href="/international-air-freight/">Air Freight</a></li>
                                    <li><a href="/excess-baggage">Small Shipments<span class="hide-on-menu"> / Excess Baggage</span></a></li>
                                    <li><a href="/on-time/">On Time Guarantee</a></li>
                                </span>
                                <span class="sea">
                                    <li>
                                        <ul class="countries">
                                            <li>
                                                <a href="/shipping-to-uk/" class="img-link">
                                                    <img src="http://www.placehold.it/200x200" alt="" title="" />
                                                    <span class="image-subtitle">UK</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/shipping-to-new-zealand/" class="img-link">
                                                    <img src="http://www.placehold.it/200x200" alt="" title="" />
                                                    <span class="image-subtitle">New Zealand</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/shipping-to-europe/" class="img-link">
                                                    <img src="http://www.placehold.it/200x200" alt="" title="" />
                                                    <span class="image-subtitle">Europe</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/shipping-to-usa-canada/" class="img-link">
                                                    <img src="http://www.placehold.it/200x200" alt="" title="" />
                                                    <span class="image-subtitle">North America</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/shipping-to-signapore/" class="img-link">
                                                    <img src="http://www.placehold.it/200x200" alt="" title="" />
                                                    <span class="image-subtitle">Singapore</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/shipping-to-hong-kong/" class="img-link last">
                                                    <img src="http://www.placehold.it/200x200" alt="" title="" />
                                                    <span class="image-subtitle">Hong Kong</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </span>
                            </span>
                        </ul>
                    </li>
                    <li class="dropdown-trigger"><a href="/interstate-removals/"><span class="hide-on-menu">Local &amp; </span>Interstate Removals <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown">
                            <span class="wide-container">
                                <li>
                                    <a href="/melbourne-removalists/" class="img-link">
                                        <img src="http://www.placehold.it/250x150" alt="" title="" />
                                        <span class="image-subtitle">Melbourne / Regional Victoria</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/sydney-removalists/" class="img-link">
                                        <img src="http://www.placehold.it/250x150" alt="" title="" />
                                        <span class="image-subtitle">Sydney / Regional NSW</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/canberra-removalists/" class="img-link">
                                        <img src="http://www.placehold.it/250x150" alt="" title="" />
                                        <span class="image-subtitle">Canberra / ACT</span>
                                    </a>
                                </li>
                            </span>
                        </ul>
                    </li>
                    <li class="dropdown-trigger"><a href="/storage/">Storage <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown">
                            <span class="wide-container">
                                <li>
                                    <a href="/international-storage/" class="img-link">
                                        <img src="http://www.placehold.it/250x150" alt="" title="" />
                                        <span class="image-subtitle">International Storage</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/furniture-storage-melbourne/" class="img-link">
                                        <img src="http://www.placehold.it/250x150" alt="" title="" />
                                        <span class="image-subtitle">Melbourne Storage</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/furniture-storage-sydney/" class="img-link">
                                        <img src="http://www.placehold.it/250x150" alt="" title="" />
                                        <span class="image-subtitle">Sydney Storage</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/furniture-storage-canberra/" class="img-link">
                                        <img src="http://www.placehold.it/250x150" alt="" title="" />
                                        <span class="image-subtitle">Canberra/ACT Storage</span>
                                    </a>
                                </li>
                            </span>
                        </ul>
                    </li>
                    <li><a href="/shipping-cars-motorbikes/"><span class="hide-on-menu">Moving </span>Vehicles</a></li>
                    <li><a href="/moving-pets/"><span class="hide-on-menu">Moving </span>Pets</a></li>
                    <li><a href="/moving-art/"><span class="hide-on-menu">Moving </span>Art</a></li>
                    <li><a href="/insurance/">Insurance</a></li>
                    <li><a href="/faq/">FAQs</a></li>
                    <li><a href="/contact-us/">Contact<span class="hide-on-menu"> Us</span></a></li>
                </ul>
                <a class="quote-link" href="#">Quick Quote</a>
            </div>
        </div>
    </nav>


    <nav class="mobile-nav">
        <div class="wide-container row">
            <a class="trigger-menu" href="#"><i class="fa fa-bars"></i></a>
            <a href="#" class="search-button trigger"><i class="fa fa-search"></i></a>
            <a class="quote-link" href="#"><span>Quick </span>Quote</a>
        </div>
    </nav>

    <div class="search-panel">
        <div class="container">
            <input type="text" name="search" class="search-input" placeholder="Press enter to search"/>
        </div>
    </div>

    <div class="dropdown-nav">
        <div class="container">
            <a href="/" class="home">Home</a>

            <h3><a href="/international-removals/">International Removals</a></h3>
            <nav>
                <a href="/international-sea-freight/">Sea Freight</a>
                <a href="/international-air-freight/">Air Freight</a>
                <a href="/excess-baggage">Small Shipments</a>
                <a href="/on-time/">On Time Guarantee</a>
            </nav>

            <h3>Popular Destinations</h3>
            <nav>
                <a href="/shipping-to-uk/">UK</a>
                <a href="/shipping-to-new-zealand/">New Zealand</a>
                <a href="/shipping-to-europe/">Europe</a>
                <a href="/shipping-to-usa-canada/">North America</a>
                <a href="/shipping-to-signapore/">Singapore</a>
                <a href="/shipping-to-hong-kong/" class="img-link last">Hong Kong</a>
            </nav>

            <h3><a href="/interstate-removals/">Local &amp; Interstate Removals</a></h3>
            <nav>
                <a href="/melbourne-removalists/">Melbourne</a>
                <a href="/sydney-removalists/">Sydney</a>
                <a href="/canberra-removalists/">Canberra</a>
            </nav>

            <h3><a href="/storage/">Storage</a></h3>
            <nav>
                <a href="/international-storage/">International</a>
                <a href="/furniture-storage-melbourne/">Melbourne</a>
                <a href="/furniture-storage-sydney/">Sydney</a>
                <a href="/furniture-storage-canberra/">Canberra/ACT</a>
            </nav>

            <h3>Additional Services</h3>
            <nav>
                <a href="/shipping-cars-motorbikes/">Moving Vehicles</a>
                <a href="/moving-pets/">Moving Pets</a>
                <a href="/moving-art/">Moving Art</a>
                <a href="/insurance/">Insurance</a>
            </nav>

            <h3>Help</h3>
            <nav>
                <a href="/faq/">FAQs</a>
                <a href="/corporate-relocation/">Corporate Relocation</a>
                <a href="/about-us/">About Us</a>
                <a href="#" class="todo">Trade Login</a>
                <a href="#" class="todo">Client Login</a>
                <a href="/contact-us/">Contact Us</a>
            </nav>
        </div>
    </div>
</div>
