.button {
    background-color: transparent;
    color: $white;
    padding: 9px 20px;
    text-decoration: none;
    line-height: 1.2;
    display: inline-block;
    border-radius: 3px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;
    border: 2px solid $white;
    margin-bottom: 20px;
}

.button.small {
    padding: 7px 12px;
    font-size: 16px;
}

.button.primary {
    background-color: $kw-green;
    border-color: $kw-green;
    color: $white;
}

.sub-button {
    display: block;
    margin-top: 15px;
}
