---
layout: art
---

<article>
<!--
    <aside class="sidebar">
        {{ page.sidebar }}
    </aside>
-->

    <main>
        {{ content }}
    </main>
    <div class="clearfix"></div>

</article>

{% if page.faq %}
    <div class="section light-grey-bg">
        <div class="container">
            <h2>Frequently asked questions</h2>
            <div class="faqs">
                {{ page.faq }}
            </div>
        </div>
    </div>
{% endif %}

<div class="section desktop tablet">
    <div class="container">
        <p>Testimonials</p>
    </div>
</div>
