---
layout: art
---

<article>
<!--
    <aside class="sidebar">
        {{ page.sidebar }}
    </aside>
-->

    <main>
        {{ content }}
    </main>


</article>

{% if page.faq %}
    <div class="section light-grey-bg">
        <div class="container">
            <h2>Frequently asked questions</h2>
            <div class="faqs">
                {{ page.faq }}
            </div>
            <p>Have another question?  Call us on 1300 368 893 or <a href="/art/contact-us/">contact us</a>.</p>
        </div>
    </div>
{% endif %}
